*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
color: aqua;
border: 1px solid rgb(22, 187, 209);
}
header a{
    text-decoration: none;
    color: orange;
}
header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    border: 1px solid rgb(45, 165, 45);
    margin: 10px;
}